body {
    background-color: beige;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.outer {
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: white;
}

.outer > div {
    margin: 2px;
    background-color: lightgray;
}