header{
    position:sticky;
    top:0;
}

body {
    background-color: beige;
    color: black;
    overflow: auto;
    text-align: left;
}

h1 {
    text-align: left;
    scroll-margin-top: 1em;
    margin-bottom: 0;
}

p {
    text-align: left;
    margin-top: .5em;
}

img {
    max-width: 100%;
}

.outer {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 2em;
}

.outer > button {
    color: black;
    border:0;
    background-color: transparent;
    text-align: center;
    min-width: 20%;
    object-fit: fill;
}

.outer > button:hover {
    background-color:rgb(225, 225, 225);
}

.scrollview {
    padding-left: 15%;
    padding-right: 15%;
}